
/* site.css */

#main {
  color: #800000;
  font-family: Arial, sans-serif;
  background: url("greenback.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

#main h3 {
  color: blue;
  letter-spacing: 4px;
  font-family: Impact, Arial, sans-serif;
  text-align: center;
}

.yellow-background-bold-weight {
  background-color: yellow;
  font-weight: bold;
}

.container {
  width: 989px;
  margin: 0 auto;
  background-color: darkgray;
}

.footer-image {
  text-align: center;
}

.CF-LOGO {
  text-align: center;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
``
